h1{
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
h2{
    color: dimgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.manualidentidad {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
}

