.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883; text-align: center;
}
h2{
    color: dimgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    .manualidentidad {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #005883;
    }

